
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/settings.json
/bootstrap
/config
/Documentaiton
/documentation
public/public
public/uploads
public/vendor/fonts
public/vendor/icons
public/vendor/media
public/vendor/vendors
public/assets/Web/fonts
public/assets/Web/images
public/assets/Web/lib
public/.htaccess
public/favicon.ico
public/index.php
public/robots.txt
/storage
/tests
.editorconfig
.env.example
